<div class="main">
    <div class="main-section">
        <div class="main-section-content">
            <div class="create-button-section">
                <button mat-raised-button color="primary" id="new-post" (click)="WantCreate()">
                    <span>Crear</span>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <th>Id</th>
                        <th>Nombre de la mascota</th>
                        <th>Ver</th>
                    </thead>
                    <tbody *ngFor="let post of posts; let i = index">
                        <tr>
                            <td>{{posts[i]["_id"]}}</td>
                            <td>{{posts[i]["nombre_mascota"]}}</td>
                            <td>
                                <button mat-raised-button [routerLink]="['/admin/view-post',posts[i]['_id']]">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="form-section" *ngIf="wantCreate === true">
                <form [formGroup]="form" (ngSubmit)="SaveNewPost()">
                    <div class="row">
                        <div class="input-section-form">
                            <mat-label>Nombre</mat-label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Nombre de la mascota" value="" formControlName="nombre_mascota" type="text">
                            </mat-form-field>
                        </div>
                        <div class="input-section-form">
                            <mat-label>Edad</mat-label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Edad de la mascota" value="" formControlName="edad_mascota">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-section-form">
                            <mat-label>Dueño</mat-label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Nombre del dueño" value="" formControlName="nombre_dueño">
                            </mat-form-field>
                        </div>
                        <div class="input-section-form">
                            <mat-label>Contacto</mat-label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Contacto del dueño" value="" formControlName="telefono">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-section-form">
                            <mat-label>Fecha de desaparición:</mat-label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Inserte la fecha de desaparición" value="" formControlName="fecha_desaparicion" type="date">
                            </mat-form-field>
                        </div>

                        <div class="input-section-form">
                            <mat-label>Lugar de desaparición:</mat-label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Inserte el lugar de desaparición" value="" formControlName="lugar_desaparicion">
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-section-form">
                            <mat-label>Sexo:</mat-label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Sexo de la mascota" value="" formControlName="sexo_mascota">
                            </mat-form-field>
                        </div>

                        <div class="input-section-form">
                            <mat-label>Talla:</mat-label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Talla de la mascota" value="" formControlName="talla_mascota">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-section-form">
                            <mat-label>Raza:</mat-label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput placeholder="Raza de la mascota" value="" formControlName="raza_mascota">
                            </mat-form-field>
                        </div>

                        <div class="input-section-form">
                            <mat-label>Descripción:</mat-label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <textarea matInput placeholder="Descripción de la mascota" value="" formControlName="descripcion_mascota"></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="buttons-form">
                            <button mat-raised-button type="submit" color="primary">
                                <span>Guardar</span>
                                <mat-icon>save</mat-icon>
                            </button>
                        </div>

                        <div class="buttons-form">
                            <button mat-raised-button type="reset" color="warn">
                                <span>Deshacer</span>
                                <mat-icon>undo</mat-icon>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>