<div class="main">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <div class="header-content">
                {{adopcion["nombre_mascota"]}}
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="dog-image">
                <img src="../../../../assets/images/dog.png" alt="">
            </div>
            <div class="content-item">
                <div class="content-item-title">
                    Aclaraciones:
                </div>
                <div class="content-item-info">
                    {{adopcion["aclaraciones"]}}
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-title">
                    Edad:
                </div>
                <div class="content-item-info">
                    {{adopcion["edad_mascota"]}} años
                </div>

            </div>
            <div class="content-item">
                <div class="content-item-title">
                    Sexo:
                </div>
                <div class="content-item-info">
                    {{adopcion["sexo_mascota"]}}
                </div>

            </div>
            <div class="content-item">
                <div class="content-item-title">
                    Raza:
                </div>
                <div class="content-item-info">
                    {{adopcion["raza"]}}
                </div>

            </div>
            <div class="content-item">
                <div class="content-item-title">
                    Esterilización:
                </div>
                <div class="content-item-info">
                    {{adopcion["esterilizacion"]}}
                </div>

            </div>
        </mat-card-content>
    </mat-card>
    <div class="buttons">
        <div class="edit">
            <button mat-raised-button color="primary" (click)="WantEdit()">
                <mat-icon>
                    edit
                </mat-icon>
            </button>

        </div>
        <div class="delete">
            <button mat-raised-button color="warn" (click)="deleteAdopcion()">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </div>
    </div>

    <div class="form-section" *ngIf="wantEdit === true">
        <form [formGroup]="form" (ngSubmit)="saveAdopcionUpdated()">
            <div class="row">
                <div class="input-section-form">
                    <mat-label>Nombre:</mat-label>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Nombre de la mascota" value="" formControlName="nombre_mascota" type="text">
                    </mat-form-field>
                </div>
                <div class="input-section-form">
                    <mat-label>Edad:</mat-label>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Edad de la mascota" value="" formControlName="edad_mascota">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="input-section-form">
                    <mat-label>Aclaraciones:</mat-label>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <textarea matInput placeholder="Aclaraciones" value="" formControlName="aclaraciones"></textarea>
                    </mat-form-field>
                </div>
                <div class="input-section-form">
                    <mat-label>Sexo:</mat-label>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Sexo de la mascota" value="" formControlName="sexo_mascota">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="input-section-form">
                    <mat-label>Esterilización:</mat-label>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Estado de esterilización de la mascota" value="" formControlName="esterilizacion">
                    </mat-form-field>
                </div>

                <div class="input-section-form">
                    <mat-label>Raza:</mat-label>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Inserte la raza" value="" formControlName="raza">
                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <div class="input-section-form">
                    <mat-label>Imagen:</mat-label>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <input matInput placeholder="Imagen de la mascota" value="" formControlName="imagen_mascota">
                    </mat-form-field>
                </div>


            </div>

            <div class="row">
                <div class="buttons-form">
                    <button mat-raised-button type="submit" color="primary">
                        <span>Guardar</span>
                        <mat-icon>save</mat-icon>
                    </button>
                </div>

                <div class="buttons-form">
                    <button mat-raised-button type="reset" color="warn">
                        <span>Deshacer</span>
                        <mat-icon>undo</mat-icon>
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>